@import url(https://fonts.googleapis.com/css?family=Roboto:500);

body {
  background-color: rgba(255, 180, 122, 0.422);
}

.App {
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

.header {
  margin: auto;
  display: inline-flex;
  flex-wrap: wrap;
}

.logo {
  margin-right: 6em;
}

.meet {
  font-size: 75px;
  font-weight: 600;
  -webkit-text-stroke: 2px #fff;
  color: black;
  text-shadow: 
    3px 3px 0 #fff,
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;

}

.subtitle {
  overflow: hidden;
  border-right: .15em solid #8eb2b1;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(16, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #8eb2b1; }
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
}

label {
  margin: 15px;
}

.city {
  width: 200px;
}

.NOE-input {
  width: 50px;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 85px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.alerts-container {
  width: 60%;
  margin: auto;
}

.event {
  background-color: white;
  width: 80%;
  padding: 10px 10px 35px;
  margin: 0 auto 15px auto;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  -webkit-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.4);
  box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.4);
}

button {
  background-color: #bcdcdb;
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

@media (max-width: 540px) {
  .event {
    width: 90%;
  }

  .header {
    justify-content: center;
  }

  .logo {
    margin: auto;
    padding: 2em;
  }
}

@media (min-width: 1200px) {
  .event {
    width: 70%;
  }
}